<p><b>INFORMASI TERBARU</b></p>
<div class="max-w-2xl mx-auto"></div>
<ul class="space-y-6">
  {% for post in site.posts %}
    <li class="flex gap-4 border-b pb-4">
      {% if post.thumbnail %}
        <img src="{{ post.thumbnail }}" alt="Thumbnail {{ post.title }}" class="w-24 h-24 object-cover rounded-lg shadow" />
      {% endif %}
      <div>
        <a href="{{ post.url }}" class="text-xl font-semibold text-blue-600 hover:underline">
          {{ post.title }}
        </a>
        <p class="text-sm text-gray-500">{{ post.date | date: "%d %B %Y" }}</p>
      </div>
    </li>
  {% endfor %}
</ul>
{% if paginator %}
  {% for post in paginator.posts %}
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <p>{{ post.excerpt }}</p>
  {% endfor %}

  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">Selengkapnya</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Selengkapnya</a>
  {% endif %}
{% endif %}
</div>