<!DOCTYPE html>
<html>

  {% include head.html %}

  {% include header.html %}

<body class="bg-white-900 text-black">
  <article class="prose prose-sm sm:prose lg:prose-lg px-4 md:px-8" itemscope itemtype="http://schema.org/Article">
    <div class="px-3 sm:px-8 py-10 max-w-3xl mx-auto leading-relaxed text-justify">

      

{{ content }}

</div></article>

    {% include postloop.html %}
    {% include footer.html %}

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
  </body>
</html>
